*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}


:root{
    --primry: rgb(38,34,100);
    --secundry: #F7F3FF;
    --white: rgb(255,255,255);
}



body{
    /* background: red; */
    background-color: var(--primry);
}

.container{
    display: flex;
    width: 100%;
    min-height: 100dvh;
    
}
.sideMeno{
    width: 250px;
    height: 100%;
    background-color: var(--primry);
    position: fixed;
    padding: 20px 10px;
}
.sideMeno> .logo{
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.sideContainer{
background-color: var(--secundry);
width: 100%;
min-height: 100px;
border-radius: 30px 0px 0px 30px;
margin-left: 250px;
padding: 20px 20px;
}

.sideMeno> .logo> span{
    color: #e4e4e4;
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.contbtns{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.contbtns> .button{
    width: 100%;
    height: 40px;
    background-color: #e4e4e4;
    border-radius: 5px;
    padding: 10px ;
    display: flex;
    align-items: center;
}

.line{
    width: 100%;
}

.col{
    width: 50%;
    
}
.col1{
    width: 100%;
    
}



.cont1{

}

.header{
    display: flex;
align-items: center;
justify-content: space-between;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.permission{
    color: var(--primry);
}
.well{
    display: flex;
    flex-direction: column;
}
.welcome{
    font-size: 1.4rem;
    color: var(--primry);
}

.cardCont{
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.391) 0px 0px 5px 0px;
}
.cardheder{
    display: flex;
    gap: 30px;
}
.cardheder> .icon{
background-color: var(--primry);
border-radius: 50%;
padding: 10px;    
}

.money{
    color: var(--primry);
    font-size: 1.4rem;
}
.desc{
    font-size: 0.8rem;
    color: rgb(93, 93, 93);
}

.button:hover{
    background-color: var(--secundry);
    /* color: white; */
    cursor: pointer;
}

.popup{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100dvh;
    display: none;
    padding-top: 10dvh;
    justify-content: center;
    align-items: center;
}
